/*
==============================
SECTION
==============================
*/

section {
    margin: 15px 0;
}

.mason-item { 
    width: 300px; 
    margin-bottom: 15px;
}

/*
==============================
FOOTER
==============================
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}