/*
==============================
BASICS
==============================
*/

::selection {
    background: #263238;
    color: #fff;
}

/*
==============================
SCROLLBAR
==============================
*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #263238;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*
==============================
NAV BAR
==============================
*/

.brand-logo {
    /* position: absolute; */
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    height: 84px;
}

/*
==============================
SECTION
==============================
*/

section {
    margin: 15px 0;
}

.mason-sizer, 
.mason-item { 
    width: calc(50% - 15px); 
    margin-bottom: 15px;
}

/*
==============================
INPUT FIELD
==============================
*/

::-webkit-datetime-edit { 
    padding: 1em; 
    color: rgba(360, 360, 360, 0.5);
    letter-spacing: 0.1em;
}

::-webkit-datetime-edit:active, 
::-webkit-datetime-edit:hover { 
    color: #fff;
    transition: 0.5s all;
}

::-webkit-datetime-edit-text { 
    padding: 0 0.5em; 
}

::-webkit-inner-spin-button { 
    display: none; 
}

::-webkit-calendar-picker-indicator { 
    background: transparent; 
    color: #fff;
}

/*
==============================
FOOTER
==============================
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}