/*
==============================
BASICS
==============================
*/

::selection {
    background: #263238;
    color: #fff;
}

/*
==============================
SCROLLBAR
==============================
*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #263238;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*
==============================
NAV BAR
==============================
*/

.brand-logo {
    /* position: absolute; */
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    height: 84px;
}

/*
==============================
SECTION
==============================
*/

section {
    margin: 15px 0;
}

.mason-sizer, 
.mason-item { 
    width: calc(50% - 15px); 
    margin-bottom: 15px;
}

/*
==============================
INPUT FIELD
==============================
*/


/*
==============================
FOOTER
==============================
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}