/*
==============================
BASICS
==============================
*/

::selection {
    background: #263238;
    color: #fff;
}

/*
==============================
SCROLLBAR
==============================
*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #263238;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*
==============================
NAV BAR
==============================
*/

.brand-logo {
    /* position: absolute; */
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 2.1rem;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    height: 84px;
}

/*
==============================
SECTION
==============================
*/

.nextButton {
    position: fixed;
    top: 50%;
    right: 30px;
}

.backButton {
    position: fixed;
    top: 50%;
    left: 30px;
}

section {
    margin: 15px 0;
    position: relative;
}

.mason-sizer, 
.mason-item { 
    width: calc(50% - 15px); 
    margin-bottom: 15px;
}

.mason-item {
    background: #efefef;
    padding: 15px;
    transition: transform 1s;
    box-shadow: 0px 3px 5px #ccc;
}

.mason-item h2 {
    font-weight: bold;
}

.mason-item:hover {
    transform: scale(1.025);
}

/*
==============================
INPUT FIELD
==============================
*/

input {
    color: #fff;
    font-weight: bold;
}

.datepicker-date-display {
    background: #263238;
}

.datepicker-controls .select-month input {
    color: #000;
    width: 100%;
}

.datepicker-controls .select-year input {
    display: none;
}

.datepicker-date-display .year-text {
    display: none;
}

/*
==============================
FOOTER
==============================
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.github {
    background: #26a69a;
    padding: 0 3px;
    border-radius: 15px;
    width: 15px;
}